.form {
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    padding: 5px;
    text-align: justify;
}

input, select, textarea {
    width: 100%;
    background-color: #606060;
    color: #e8e8e8;
    border: 1px solid #a8a8a8;
}

label, th {
    text-align: left;
}

.recaptcha {
    background-color: #606060;
    margin-bottom: 2px;
}

#recaptcha_response_field {
    background-color: #606060;
    color: #e8e8e8;
    border: 1px solid #a8a8a8;
}

.errorlist {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

.errorlist ul {
    margin: 0px;
    padding: 0px;
}

.errorlist li {
    margin: 0px;
    padding: 0px;
}

