{% extends "base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Adding new topic" %}{% endblock %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr>
<td width='300'>{% trans "Adding new topic" %}</td>

<td align='right'>
[<a href='/{{user.username}}/profile/'>{% trans "Cancel" %}</a>]
</td>
</tr>
</table>
</div>
{% endblock %}

{% block content %}
{#  {{{ #}
{% if form.cleaned_data %}
<div class='news'>
<h3>
{% if form.cleaned_data.target %}
<a href='/blogs/'>{% trans "Blogs" %}</a>
{% else %}
<a href='{% url userauth.views.viewProfile user.username %}'>{{ user.username }}</a>
{% endif %}

→ <a href='/news/131313131'>{{ form.cleaned_data.title }}</a></h3>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr><td width='40px'>&nbsp;</td><td>
<div class='content'>
{{ form.cleaned_data.content|markup:form.cleaned_data.parser|safe }}

{% if form.cleaned_data.tag_string %}
<div class='tags'><p>{% trans "Tags" %}: {{ form.cleaned_data.tag_string|tags|safe }}
</p></div>
{% endif %}
<p>[<span class='plus'><a href=''>▲</a></span>] 0 [<span class='minus'><a href=''>▼</a></span>] | {% trans "Author" %}: <span class='plus'><a href='/{{ user_info.username }}/profile'>{{ user_info.username }}</a></span> | <a href=''>{% trans "Comments" %}: 0</a></p>
</div>
</td>
<td width='40px'>&nbsp;</td><td>
</table>
</div>
{% endif %}

{# }}} #}

<div class='page_content'>
<h3>{% trans "Adding new topic" %}</h3>
<form method="POST" action="{% url blogs.views.addTopic %}">{% csrf_token %}
<table id='blog_topic'>
    {{form}}
    <tr><td>&nbsp;</td><td><input type="submit" name="preview" value="{% trans "Preview" %}"></td></tr>
{% if form.cleaned_data %}
    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="{% trans "Save" %}"></td></tr>
{% endif %}
</table>
</form>
</div>

{% endblock %}

