{% extends "base.html" %}
{% load i18n %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr>
<td>
{% if tag %}
{% trans "Search results for tag:" %} {{ tag.name }}
{% else %}
    {% if blog_info %}
        <a href='{% url blogs.views.index %}'>{% trans "Blogs" %}</a> → <a href='{%url blogs.views.view blog_info.pk %}'>{{ blog_info.name}}</a> {{ blog_info.desc }}
    {% else %}
        {% trans "Blog's traker" %}
    {% endif %}
{% endif %}
</td>

<td align='right'>
{% if blog_info.desc %}
    [<a href='{% url rss_blog blog_info.id %}'>RSS</a>|<a href='{% url atom_blog blog_info.id %}'>Atom</a>]
{% else %}
    [<a href='{% url rss_blog_traker %}'>RSS</a>|<a href='{% url atom_blog_traker %}'>Atom</a>]
{% endif %}
{% if user.is_authenticated %}
    {% if blog_info.owner = user or blog_info.owner.id = 1 or not blog_info %}
    [<a href='{% url blogs.views.post_add %}'>{% trans "Add topic" %}</a>]
    {% if blog_info.owner = user %}
    [<a href='{% url blogs.views.settings %}'>{% trans "Blog settings" %}</a>]
    {% endif %}
    {% endif %}
{% endif %}

</td>
</tr>
</table>
</div>
{% endblock %}

{% block content %}

{% include 'blog/pages.inc.html' %}

{% if blog_posts.object_list %}
    {% for post in blog_posts.object_list %}
        {% include 'blog/post.inc.html' %}
    {% endfor %}
{% endif %}

{% include 'blog/pages.inc.html' %}

{% endblock %}


