{% extends "base.html" %}

{% load i18n %}

{% load markup %}

{% block title %}
    {% trans "Blog's traker" %}
{% endblock %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr>
<td width='300'>
    {% trans "Blog's list" %}
</td>

<td align='right'>
{% if user.username %}
        [<a href='{% url blog.views.post_add %}'>{% trans "Add topic" %}</a>]
        [<a href='{% url blog.views.blog_settings %}'>{% trans "Blog settings" %}</a>]
{% endif %}
</td>
</tr>
</table>
</div>
{% endblock %}

{% block content %}

{% if public_blogs %}
<h3>{% trans "public blogs:" %}</h3>
<table cellspacing='0' cellpadding='2' border='0' class='theader'>
<tr class='theader'><th width='220px'>{% trans "Blog name" %}</th><th>{% trans "Description" %}</th></tr>
{% for blog in public_blogs %}
<tr><td><a href='{%url blog.views.view blog.id %}'>{{blog.name}}</a></td><td>{{blog.desc}}</td></tr>
{% endfor %}
</table>
{% endif %}

{% if user_blogs %}
<h3>{% trans "Top 20 user blogs:" %}</h3>
<table cellspacing='0' cellpadding='2' border='0' class='theader'>
<tr class='theader'><th width='220px'>{% trans "Blog name" %}</th><th>{% trans "Description" %}</th></tr>
{% for blog in user_blogs %}
<tr><td><a href='{%url blog.views.view blog.id %}'>{{blog.name}}</a></td><td>{{blog.desc}}</td></tr>
{% endfor %}
</table>
{% endif %}

{% if thread %}

{% include 'forum/arrows.inc.html' %}
<h3>{% trans "User blogs:" %}</h3>
<table cellspacing='0' cellpadding='2' border='0' class='theader'>
<tr class='theader'><th width='220px'>{% trans "Blog name" %}</th><th>{% trans "Description" %}</th></tr>
{% for blog in thread.object_list %}
<tr><td><a href='{%url blog.views.view blog.id %}'>{{blog.name}}</a></td><td>{{blog.desc}}</td></tr>
{% endfor %}
</table>
{% include 'forum/arrows.inc.html' %}
{% endif %}

{% endblock %}


