{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block headlist %}<link rel="alternate" title="FOSS FEED" href="{% url rss_blog_tracker %}" type="application/rss+xml">{% endblock %}

{% block action-left %}
    {% trans "Blogs tracker" %}
{% endblock %}

{% block action-right %}
    [<a href='{% url rss_blog_tracker %}'>RSS</a>]
    [<a href='{% url blog.views.post_add %}'>vim</a>]
{% endblock %}

{% block content %}

    {% include 'forum/pages.inc.html' %}

    {% if thread.object_list %}
        {% for startpost in thread.object_list %}
            {% cache 100500 blogpost startpost.pk %}
                {% include "blog/startpost.inc.html" %}
            {% endcache %}
        {% endfor %}
    {% endif %}

    {% include 'forum/pages.inc.html' %}

{% endblock %}

