{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block action-left %}
        {% trans "Scourge or remove post" %}
{% endblock %}

{% block content %}
    {% if startpost %}
        {% include "forum/startpost.inc.html" %}
    {% endif %}
    {% if post %}
        {% include "forum/post.inc.html" %}
    {% endif %}

    <div class='form'>
        {% if form %}
        <form method="POST" action="">{% csrf_token %}
            <table border='0' width='600px'>
                {{ form }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" name="preview" value="{% trans "Scourge" %}"></td>
                </tr>
            </table>
        </form>
        {% endif %}
    </div>
{% endblock %}
