{% extends "base.html" %}
{% load i18n %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr><td>
{% if startpost.blog %}
   <a href='{% url blog.views.index %}'>{% trans "Blogs" %}</a> → <a href='{%url blog.views.view startpost.blog.pk %}'>{{ startpost.blog.name}}</a>
   → <a href='{%url forum.views.thread startpost.pk %}'>{{ startpost.title }}</a>
{% else %}
<a href='{% url forum.views.index %}'>{% trans "Forum list" %}</a> →
<a href='{% url forum.views.forum startpost.forum.pk %}'>{{ startpost.forum.name }}</a> →
<a href='{% url forum.views.thread startpost.pk %}'>{{ startpost.title }}</a>
{% endif %}
</td>

<td align='right'>
[<a href='{% url rss_comments startpost.pk %}'>RSS</a>|<a href='{% url atom_comments startpost.pk %}'>Atom</a>]

{% if user.is_authenticated %}
{% if user.profile.can_create_topic %}
[<a href='{% url forum.views.reply startpost.pk %}'>{% trans "Add a comment" %}</a>]
{% endif %}
</td>
</tr>
</table>

{% endif %}
</div>
{% endblock %}

{% block content %}

{% with 1 as dont_strip %}
{% with 1 as dont_show_comment_count %}
{% include "forum/startpost.inc.html" %}
{% endwith %}
{% endwith %}

{% include "forum/comments.pages.inc.html" %}

<div class='news'>
{% for post in thread.object_list %}
{% include "forum/post.inc.html" %}
{% endfor %}
</div>

{% include "forum/comments.pages.inc.html" %}

<script lang='text/javascript'>
    highlightOnLoad();
</script>
{% endblock %}
