{% load i18n %}
{% load markup %}

<div class='news'>
<h3>

<a href='{% url blog.views.view post.blog.id %}'>{{ post.blog.name }}</a>
→ <a href='
{% if post.id %}
{% url blog.views.post_view post.id %}'>{{ post.title }}
{% else %}
{% url blog.views.post_view post.blog.id %}'>{{ post.title }}
{% endif %}
</a></h3>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr><td width='40px'>&nbsp;</td><td>
<div class='content'>
{% if dont_strip %}
{{ post.content|markup:post.parser|safe }}
{% else %}
{{ post.content|strippost:post|safe }}
{% endif %}
{% if post.tags.all.0 %}
<div class='tags'><p>{% trans "Tags" %}: 
{% for tag in post.tags.all %}{% if not forloop.first %}, {% endif %}<a href='{% url blog.views.tags_search tag.pk %}'>{{ tag }}</a>{% endfor %}
{% endif %}
{% if post.tag_string %}
<div class='tags'><p>{% trans "Tags" %}: 
{{ post.tag_string|tags|safe }}
</p></div>
{% endif %}
<p>[<span class='plus'><a href=''>▲</a></span>] {{ post.rating }} [<span class='minus'><a href=''>▼</a></span>] | {% trans "Author" %}: <span class='plus'><a href='
{% if post.owner %}
{% url userauth.views.profile_view post.owner.id %}'>{{ post.owner.profile.get_visible_name }}
{% else %}
{% url userauth.views.profile_view user.id %}'>{{ user.profile.get_visible_name }}
{% endif %}
</a></span> 

{% if not dont_show_comment_count %}
| <a href='
{% if post.id %}
{% url blog.views.post_view post.id %}
{% else %}
{% url blog.views.post_view post.blog.id %}
{% endif %}
'>{% trans "Comments" %}: {{ post.post_set.all.count }}</a>
{% endif %}
</p>
</div>
</td>
<td width='40px'>&nbsp;</td>
</table>
</div>

