{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr><td>
{% if reason %}
    {% trans "View removed post" %}
{% else %}
    {% trans "Remove post" %}
{% endif %}
</td>
<td align='right'>
[<a href='/'>{% trans "Resource rules" %}</a>]
</td>
</tr>
</table>

</div>
{% endblock %}

{% block content %}

{% if startpost %}
{% with startpost.get_section_name as section_name %}
{% with startpost.title as startpost_title %}
{% with startpost.text|markup:startpost.parser|strip_cut as startpost_text %}
{% with startpost.get_tag_url_list as startpost_tags %}
{% with startpost.postedit_set.all.0 as edit %}
{% if startpost.blog %}
    {% url blog.views.view startpost.blog.pk as section_url %}
{% else %}
    {% url forum.views.forum startpost.forum.pk as section_url %}
{% endif %}
{% url forum.views.thread startpost.pk as startpost_url %}
{% include "forum/startpost.inc.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endif %}

{% if post %}
    {% include "forum/post.inc.html" %}
    {% url forum.views.remove post.pk as form_url %}
{% endif %}

{% if startpost %}
    {% url forum.views.remove startpost.pk as form_url %}
{% endif %}

<div class='page_content'>
{% if form %}
<form method="POST" action="{{ form_url }}">{% csrf_token %}
<table id='blog_topic'>
    {{ form }}
    <tr><td>&nbsp;</td><td><input type="submit" name="preview" value="{% trans "Remove" %}"></td></tr>
</table>
</form>
{% endif %}
{% if reason %}
<p>{% trans "This post was removed by"%} <a href='{% url userauth.views.profile_view reason.user.pk %}'>{{reason.user.profile.get_visible_name }}</a>.<br>{% trans "Post remove reason"%}: 
{% if reason.auto %}
    {% trans "(Auto) Reply to" %}:
{% endif %}
{{ reason.reason }} ( -{{ reason.reason.cost }} )</p>
{% endif %}
</div>

{% endblock %}
