{% extends "base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Edit topic" %}{% endblock %}

{% block action-left %}
    {% trans "Edit topic" %}
{% endblock %}

{% block content %}
    {% if form.cleaned_data %}
        {% with form.cleaned_data as startpost %}
            {% include "blog/startpost.preview.inc.html" %}
        {% endwith %}
    {% endif %}

    <div class='form'>
        <form method="POST">{% csrf_token %}
        <table id='blog_topic'>
            {{form}}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="preview" value="{% trans "Preview" %}"></td>
            </tr>
            {% if form.cleaned_data %}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="submit" value="{% trans "Save" %}"></td>
            </tr>
            {% endif %}
        </table>
        </form>
    </div>
{% endblock %}

