{% extends "base.html" %}
{% load i18n %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr><td>
   <a href='{% url blog.views.index %}'>{% trans "Blogs" %}</a> → <a href='{%url blog.views.view post.blog.pk %}'>{{ post.blog.name}}</a>
   → <a href='{%url blog.views.post_view post.pk %}'>{{ post.title }}</a>
   </td>
   <td align='right'>
            [<a href='{% url rss_blog_traker %}'>RSS</a>|<a href='{% url atom_blog_traker %}'>Atom</a>]

{% if user.is_authenticated %}
    {% if blog_info.owner = user or blog_info.owner.id = 1 or not blog_info %}
    [<a href='{% url blog.views.post_add %}'>{% trans "Add topic" %}</a>]
    {% if blog_info.owner = user %}
    [<a href='{% url blog.views.settings %}'>{% trans "Blog settings" %}</a>]
    {% endif %}
    {% endif %}
{% endif %}
   
   </td></tr></table>
   </div>
{% endblock %}

{% block content %}

{% with 1 as dont_strip %}
{% include "blog/post.inc.html" %}
{% endwith %}

{% for post in post.post_set.all %}
{% include "forum/post.inc.html" %}
{% endfor %}

<form action="{% url blog.views.post_comment post.pk %}" method=post>
<table>
{% csrf_token %}
{{comment_form}}
<tr><td>&nbsp;</td><td><input type=submit value="{% trans "Send" %}"></td></tr>
</table>
</form>

{% endblock %}
