{% extends "base.html" %}
{% load i18n %}

{% block title %}Настройки бога пользователя {{ user.username }}{% endblock %}


{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr>
<td width='300'>
    {% trans "Blog's list" %}
</td>
<td align='right'>
[<a href='{% url userauth.views.profile_view user.id %}'>{% trans "Cancel" %}</a>]
</td>
</tr>
</table>
</div>
{% endblock %}

{% block content %}

<h3>{% trans "My blog settings" %}</h3>

<form method="POST" action="{% url blogs.views.editBlog %}">{% csrf_token %}
<table>
    {{form}}
    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="{% trans "Save" %}"></td></tr>
</table>
</form>

{% endblock %}


