{% extends "forum/startpost.base.html" %}

{% load i18n %}
{% load markup %}

{% block header %}
    {{ startpost.get_flags|safe }}
    <a href='{{ startpost.get_section_url }}'>{{ startpost.get_section_name }}</a> →
    {{ startpost.get_forumtags|safe }}
    <a href='{{ startpost.get_absolute_url }}'>{{ startpost.title }}</a>
{% endblock %}

{% block text %}
    {{ startpost.get_strip_text|safe }}
{% endblock %}

{% block tags %}
    {% if startpost.blog %}
    <div class='block'>
        <span class='info'>
        {% trans "Tags" %}:
        {{ startpost.get_tag_url_list|safe }}
        </span>
    </div>
    {% endif %}
{% endblock %}

{% block comments %}
    |
    <span class='info'>
        {{ startpost.get_comments_count|safe }}
    </span>
{% endblock %}    
