{% load i18n %}
{% load markup %}

<div class='news'>
<h3>
{% if post.blog.owner %}

<a href='{% url userauth.views.viewProfile post.owner %}'>{{ post.owner }}</a>
{% else %}
<a href='/blogs/{{ post.blog.id }}'>{{ post.blog.name }}</a>
{% endif %}

→ <a href='/{{ post.owner}}/{{ post.id }}'>{{ post.title }}</a></h3>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr><td width='40px'>&nbsp;</td><td>
<div class='content'>
{{ post.content|strippost:post|safe }}
{% if post.tags.all.1 %}
<div class='tags'><p>{% trans "Tags" %}: 
{% for tag in post.tags.all %}{% if not forloop.first %}, {% endif %}<a href='/blogs/tags/{{ tag }}'>{{ tag }}</a>{% endfor %}
</p></div>
{% endif %}
<p>[<span class='plus'><a href=''>▲</a></span>] 0 [<span class='minus'><a href=''>▼</a></span>] | {% trans "Author" %}: <span class='plus'><a href='{% url userauth.views.viewProfile post.owner %}'>{{ post.owner }}</a></span> | <a href=''>{% trans "Comments" %}: 0</a></p>
</div>
</td>
<td width='40px'>&nbsp;</td><td>
</table>
</div>

