{% load i18n %}
{% load markup %}

<div class='news'>
<h3>

<a href='{% url blogs.views.viewBlog post.blog.name %}'>{{ post.blog.name }}</a>

→ <a href='{% url blogs.views.viewPost post.blog.name post.id %}'>{{ post.title }}</a></h3>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr><td width='40px'>&nbsp;</td><td>
<div class='content'>
{{ post.content|markup:post.parser|safe }}
{% if post.tags.all.1 %}
<div class='tags'><p>{% trans "Tags" %}: 
{% for tag in post.tags.all %}{% if not forloop.first %}, {% endif %}<a href='/blogs/tags/{{ tag }}'>{{ tag }}</a>{% endfor %}
</p></div>
{% endif %}
<p>[<span class='plus'><a href=''>▲</a></span>] {{ post.rating }} [<span class='minus'><a href=''>▼</a></span>] | {% trans "Author" %}: <span class='plus'><a href='{% url userauth.views.viewProfile post.owner %}'>{{ post.owner }}</a></span></p>
<p>
[<a href='reply.html'>Ответить на это сообщение</a>] [<a href='bookmark.html'>Добавить в избранное</a>]
</p>
</div>
</td>
<td width='40px'>&nbsp;</td><td>
</table>
</div>

