{% extends "base.html" %}

{% load i18n %}

{% load markup %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr>
<td>
<a href='{% url blogs.views.index %}'>{% trans "Blog" %}</a> :. {{ post.blog.desc }}
</td>

<td align='right'>
    [<a href='/{{user_info.username}}/'>RSS</a>]

{% if user.is_authenticated %}
 {% if user.blog_set %}
    [<a href='{% url blogs.views.addTopic %}'>{% trans "Add topic" %}</a>]
    [<a href='{% url blogs.views.editBlog %}'>{% trans "Blog settings" %}</a>]
 {% endif %}
{% endif %}

</td>
</tr>
</table>
</div>
{% endblock %}

{% block content %}
    {% if post %}
        {% include 'blog/view_post_fullbody.html' %}
    {% endif %}

{% endblock %}


