
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>FOSS :. 404</title>
    {% if user.is_authenticated %}
        <link rel='stylesheet' type='text/css' href='/media/styles/themes/{{user.profile.get_theme}}.css'>
    {% else %}
        <link rel='stylesheet' type='text/css' href='/media/styles/themes/default.css'>
    {% endif %}
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <link rel="icon" type="image/gif" href="media/favicon.gif">
</head>
<body>
    <div id='titlebox'>
         <pre><a href="/">XXXX XXXX XXXX XXXX<br>X    X  X X    X   <br>XXX  X  X XXXX XXXX<br>X    X  X    X    X<br>X    XXXX XXXX XXXX</a></pre> 
    </div>
    <div id='menubox'>
        &nbsp;
    </div>
    <div id='content'>
    <h3>Error 404</h3>
<pre>
     ______________
    < Who is here? >                   The URL you requested is not found on this server.
     -------------- 
             \   ^__^                  Don't disturb <a href='http://en.wikipedia.org/wiki/Gentoo_Linux#Logo_and_mascots'>Larry</a>, go to <a href='/'>mainpage</a>
              \  (Oo)\_______
                 (__)\       )\/\
                     ||----w |
       ___\____..____||_____||______\/____
</pre>
    </div>
</body>
