{% load i18n %}

<html>
<head>
    <title>Taverna :. {% block title %}{% endblock %}</title>
    <link rel='stylesheet' type='text/css' href='/media/styles/base.css'>
    {% block csslist %}{% endblock %}
    <meta http-equiv='Content-Type' content='text/html; charset=utf8'>
    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta http-equiv='Pragma' content='no-cache'>
</head>
<body>
<!-- simple head title -->
<div class='titlebox'>
<pre>

   ┏━╸┏━┓┏━┓┏━┓
   ┣╸ ┃ ┃┗━┓┗━┓
   ╹  ┗━┛┗━┛┗━┛</pre>
</div>
<!-- end of simple head title -->
<!-- menu block -->
<div class='menubox'>
    <table cellspacing='0' cellpadding='2' border='0' width='100%'>
    <tr>
        <td width='300'>&nbsp;</td>
        <td align='center'>[<a href='/treker/'>{% trans "Traker" %}</a>] [<a href='/blogs/'>{% trans "Blogs" %}</a>] [<a href='{% url forum.views.index %}'>{% trans "Forum" %}</a>] [<a href='/Library/'>{% trans "Library" %}</a>]</td>
        <td width='300' align='right'>
        {% if user.is_authenticated %}
            {% trans "Welcome" %}, <a href='/{{ user.username}}/profile'>{{ user.username }}</a> [<span class='minus'><a href="{% url userauth.views.logoutUser %}">x</a></span>]
        {% else %}
            [<a href='{% url userauth.views.loginUser %}'>{% trans "Log In"%}</a>] [<a href='/register/'>{% trans "Register" %}</a>]
        {% endif %}
        </td>
    </tr>
    </table>
</div>
<!-- end of menu block -->
<!-- action menu block -->
{% block menubox %}{% endblock %}
<!-- end of action menu block -->
<div id=content>
{% block content %}{% endblock %}
</div>

<!-- end of news block -->
<!-- sign block -->
<div class='sign'>
Design and develop by <a href='mailto:brezerk@gmail.com'>Brezerk</a>.<br>
All trademarks and copyrights on this page are owned by their respective owners.<br>
Comments are owned by the Poster.<br>
The Rest © 1997-2010 <a href='http://brezblock.org.ua'>BrezBlock</a>.
</div>
<!-- end of sign block -->
</body>
</html>
