{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block action-left %}
    {% trans "Commetns list of user" %}
     <a href='{% url userauth.views.profile_view user_info.pk %}'>{{ user_info.profile.get_visible_name }}</a>
{% endblock %}

{% block action-right %}
    [<a href='{% url rss_notify user_info.pk %}'>RSS</a>|<a href='{% url atom_notify user_info.pk %}'>Atom</a>]
{% endblock %}

{% block content %}
    {% include "forum/arrows.inc.html" %}

    <table cellspacing='0' cellpadding='2' border='0' class='theader'>
        <tr class='theader'>
            <th width='100px'>{% trans "Section" %}</th>
            <th width='240px'>{% trans "Seaction name" %}</th>
            <th>{% trans "Topic title" %}</th><th width='280px'>{% trans "Date" %}</th>
        </tr>
        {% for post in thread.object_list %}
        <tr class="{% cycle "odd" "even" %}">
             <td>{{ post.thread.get_section_type }} </td>
             <td><a href='{{ post.thread.get_section_url }}'>{{ post.thread.get_section_name }}</a></td>
             <td>
                {% if post.is_negative %}
                    <a href='{% url forum.views.offset post.thread.pk post.id %}?showall=1'>
                    <span class='removed'>&times;</span>
                {% else %}
                    <a href='{% url forum.views.offset post.thread.pk post.id %}'>
                {% endif %}
                {{post.thread.title}}</a>
             </td>
             <td>
                {{post.created|timesince}}
                {% if not user_info %}
                    {% trans "by" %} (<a href='{% url userauth.views.profile_view post.owner.pk %}'>{{ post.owner.profile.get_visible_name }}</a>)
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    {% include "forum/arrows.inc.html" %}
{% endblock %}

