{% load i18n %}


{% if thread.paginator.num_pages > 1 %}
<div class='pages'>[{% trans "Page" %} 
{% if thread.has_previous %}
<a href='
        {% if user_info %}
            {%url userauth.views.user_comments thread.previous_page_number user_info.pk %}
        {% else %}
            {%url userauth.views.notify thread.previous_page_number %}
        {% endif %}
'>←</a>
{% else %}
←
{% endif %}
{% for page in thread.paginator.page_range %}
    {% if thread.number == page %}
        <b>{{page}}</b>
    {% else %}
        <a href='
        {% if user_info %}
            {%url userauth.views.user_comments page user_info.pk %}
        {% else %}
            {%url userauth.views.notify page %}
        {% endif %}
        '>{{page}}</a>
    {% endif %}
{% endfor %}
{% if thread.has_next %}
<a href='
        {% if user_info %}
            {%url userauth.views.user_comments thread.next_page_number user_info.pk %}
        {% else %}
            {%url userauth.views.notify thread.next_page_number %}
        {% endif %}
'>→</a>
{% else %}
→
{% endif %}
]</div>
{% endif %}
