{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "User profile" %} :. {{ user_profile.get_visible_name }}{% endblock %}

{% block action-left %}
    {% trans "User profile" %}
{% endblock %}

{% block action-right %}
    [<a href='{% url blog.views.view user_blog.pk %}'>{% trans "User's blog" %}</a>]
    {% if user.pk == user_info.pk %}
        [<a href='{% url userauth.views.profile_edit %}'>{% trans "Profile settings" %}</a>]
        [<a href='{% url blog.views.blog_settings %}'>{% trans "Blog settings" %}</a>]
    {% endif %}
{% endblock %}

{% block content %}
<h3>{% trans "User's insformation" %}</h3>
<div class='profile'>
    {% if user_info.profile.photo %}
        <div class='right'>
        <img class='gravatar' src='http://www.gravatar.com/avatar/{{ user_info.profile.photo }}?s=150&r=g&d=http%3A%2F%2Fwww.linux.org.ru%2Fimg%2Fp.gif'>
    </div>
    {% endif %}
    <div class='left'>
        <div class='block'>
        <div>{% trans "Visible name" %}: {{ user_info.profile.get_visible_name }}</div>
        {% if user_info.first_name or user_info.last_name %}
            <div>{% trans "Real name" %}: {{ user_info.first_name }} {{ user_info.last_name }}</div>
        {% endif %}
        <div>{% trans "Registration" %}: {{ user_info.date_joined|date:"d.m.Y H:i:s" }}</div>
        <div>{% trans "Last visit" %}: {{ user_info.last_login|date:"d.m.Y H:i:s" }}</div>
        <div>{% trans "Carma" %}: {{ user_info.profile.karma }}</div>
        <div>{% trans "Force" %}: {{ user_info.profile.force }}</div>
        {% if user_info.profile.website %}
            <div>{% trans "Website" %}: <a href='{{ user_info.profile.website }}'>{{ user_info.profile.website }}</a></div>
        {% endif %}
        {% if user_info.profile.jabber %}
            <div>Jabber: <a href='{{ user_info.profile.jabber }}'>{{ user_info.profile.jabber }}</a></div>
        {% endif %}
        {% if user_info.email %}
            {% if user == user_info or user.is_staff %}
                <div>Email: <a href='mailto:{{ user_info.email }}'>{{ user_info.email }}</a> ({% trans "is avalible only for you and site moderators" %})</div>
            {% endif %}
        {% endif %}
        {% if user_info.profile.location %}
            <div>{% trans "City" %}: {{ user_info.profile.location }}</div>
        {% endif %}
        <div>{{ user_info.profile.sign|linebreaksbr }}</div> 
        </div>
    </div>
</div>
{% include "userauth/status.html" %}
<h3>{% trans "User messags"%}:</h3>
<ul>
    <li><a href='{% url blog.views.view user_blog.pk %}'>{% trans "Topics" %}</a>
    <li><a href='{% url userauth.views.user_comments user_info.id %}'>{% trans "Comments" %}</a>
    {% if user == user_info or user.is_staff%}
    <li><a href='{% url userauth.views.notify %}'>{% trans "Notifies" %}</a>
    <li><a href='{% url userauth.views.scourges user_info.pk %}'>{% trans "Scourges" %}</a>
    {% endif %}
</ul>
{% endblock %}

