{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "User profile" %} :. {{ user_profile.get_visible_name }}{% endblock %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr>
<td width='300'>{% trans "User profile" %}</td>

<td align='right'>
{% if user != user_info %}
    {% if user_blog %}
        [<a href='/{{user_info.username}}/'>{% trans "Read user's blog" %}</a>]
    {% endif %}
{% else %}
    [<a href='{% url blog.views.post_add %}'>{% trans "Add topic" %}</a>]
    {% if user_blog %}
        [<a href='{% url blog.views.blog_settings %}'>{% trans "Blog settings" %}</a>]
    {% endif %}
[<a href='{% url userauth.views.profile_edit %}'>{% trans "Edit profile" %}</a>]
{% endif %}
{% if user.is_staff %}
    [<a href='{% url userauth.views.rewards user_info.pk %}'>{% trans "Bury user" %}</a>]
{% endif %}
</td>
</tr>
</table>
</div>
{% endblock %}

{% block content %}

<h3>{% trans "User's insformation" %}</h3>
<table border='0' width='100%'>
    <tr><td valign='top'>
<table border='0' width='100%'>
    <tr><td>{% trans "Visible name" %}: {{ user_info.profile.get_visible_name }}</td></tr>
    {% if user_info.first_name or user_info.last_name %}
    <tr><td>{% trans "Real name" %}: {{ user_info.first_name }} {{ user_info.last_name }}</td></tr>
    {% endif %}
    <tr><td>{% trans "Registration" %}: {{ user_info.date_joined|date:"d.m.Y H:i:s" }}</td></tr>
    <tr><td>{% trans "Last visit" %}: {{ user_info.last_login|date:"d.m.Y H:i:s" }}</td></tr>
    <tr><td>{% trans "Carma" %}: {{ user_info.profile.karma }}</td></tr>
    <tr><td>{% trans "Force" %}: {{ user_info.profile.force }}</td></tr>
    {% if user_info.profile.website %}
    <tr><td>{% trans "Website" %}: <a href='{{ user_info.profile.website }}'>{{ user_info.profile.website }}</a></td></tr>
    {% endif %}
    {% if user_info.profile.jabber %}
    <tr><td>Jabber: <a href='{{ user_info.profile.jabber }}'>{{ user_info.profile.jabber }}</a></td></tr>
    {% endif %}
    {% if user_info.email %}
    {% if user == user_info or user.is_staff %}
    <tr><td>Email: <a href='mailto:{{ user_info.email }}'>{{ user_info.email }}</a> ({% trans "is avalible only for you and site moderators" %})</td></tr>
    {% endif %}
    {% endif %}
    {% if user_info.profile.location %}
    <tr><td>{% trans "City" %}: {{ user_info.profile.location }}</td></tr>
    {% endif %}
    <tr><td>&nbsp;</td></tr>
    <tr><td>{{ user_info.profile.sign|linebreaksbr }}</td></tr>
</table>
    </td><td width='160px' valign='top'>
    {% if user_info.profile.photo %}
        <img class='gravatar' src='http://www.gravatar.com/avatar/{{ user_info.profile.photo }}?s=150&r=g&d=http%3A%2F%2Fwww.linux.org.ru%2Fimg%2Fp.gif'>
    {% endif %}
    </td></tr>
</table>
{% if user_info.profile.is_buryed %}
<h3>{% trans "User status"%}:</h3>
<p>{% trans "This user has been buryed at our" %} <a href='{% url userauth.views.graveyard%}'>{% trans "Grave Yard" %}</a>.<br>
{% trans "Reason"%}:
{% if user_info.profile.buryed %}
    {{ user_info.profile.buryed_reason }}
{% else %}
    {% trans "Auto ban due high karma loss." %}
{% endif %}
</p>
{% endif %}

<h3>{% trans "User messags"%}:</h3>
<ul>
    <li><a href='{% url blog.views.view_all user_info.id %}'>{% trans "Topics" %}</a>
    <li><a href='{% url userauth.views.user_comments user_info.id %}'>{% trans "Comments" %}</a>
    {% if user == user_info %}
    <li><a href='{% url userauth.views.notify %}'>{% trans "Notifies" %}</a>
    {% endif %}
    {% if user == user_info or user.is_staff %}
    <li><a href='{% url userauth.views.rewards user_info.id %}'>{% trans "Karma rewards" %}</a>
    {% endif %}
</ul>

{% endblock %}


