{% extends "base.html" %}
{% load i18n %}

{% block csslist %}
<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
{% endblock %}

{% block title %}{% trans "New user registration" %}{% endblock %}

{% block content %}
<div class='page_content'> 
<h3>{% trans "New user registration" %}</h3>
<p>{% trans "Welcome to new user registration page." %}</p>
<p>{% trans "Please, before registration begins, check out resouces rules. You will automaticaly agree with all rules term, while continue registration process." %}</p>
<form method="POST" action="/register/">{% csrf_token %}
<table border='0' width='450px'>
{% if form.errors %}
<tr>
    <td width='180px'><span style='color: #ff7e00'>{% trans "Error" %}</span>:</td>
    <td>&nbsp;</td>
</tr>
{% for value in form.errors.values %}
<tr>
    <td colspan='2'>{{ value }}</td>
</tr>
{% endfor %}
{% endif %}
<tr><td width='180px'><b>{% trans "Username" %}</b>:</td><td>{{ form.username }}</td></tr>
<tr><td><b>{% trans "E-Mail" %}</b>:</td><td>{{ form.email }}</td></tr>
<tr><td><b>{% trans "Password" %}</b>:</td><td>{{ form.password }}</td></tr>
<tr><td><b>{% trans "Password again" %}</b>:</td><td>{{ form.rpassword }}</td></tr>
<tr><td align='center' colspan='2'><div class='recaptcha'>{{ form.captchaHTML|safe }}</div></td></tr>
<tr><td colspan='2'><input type="submit" name="submit" value="{% trans "Register" %}" tabindex="6"></td></tr>
</table>
</form>

</div>{% endblock %}
