{% extends "base.html" %}
{% load i18n %}

{% block action-left %}
        <a href='{% url userauth.views.profile_view user_info.pk %}'>{{ user_info.profile.get_visible_name }}</a> {% trans "rewards list" %}
{% endblock %}

{% block content %}
    {% include "userauth/status.html" %}
    {% include "forum/arrows.inc.html" %}

    <table cellspacing='0' cellpadding='2' border='0' class='theader'>
        <tr class='theader'>
            <th width='100px'>{% trans "Section" %}</th>
            <th width='240px'>{% trans "Seaction name" %}</th>
            <th>{% trans "Topic title" %}</th>
            <th>{% trans "Reward reason" %}</th>
            <th width='280px'>{% trans "Date" %}</th>
        </tr>
        {% for reward in rewards.object_list %}
        <tr class="{% cycle "odd" "even" %}">
             <td>{{ reward.post.thread.get_section_type }} </td>
             <td><a href='{{ reward.post.thread.get_section_url }}'>{{ reward.post.thread.get_section_name }}</a></td>
             <td><a href='{% url forum.views.thread reward.post.thread.pk%}?showall=1#post_{{reward.post.pk}}'>{{ reward.post.get_title }}</a></td>
             <td>{{ reward.get_reason }}</td>
             <td>{{reward.post.created|date:"d.m.Y H:i"}}</td>
        </tr>
        {% endfor %}
    </table>

    {% include "forum/arrows.inc.html" %}

    {% if form %}
        <p>{% trans "Change current user status" %}:</p>
        <div class='form'>
            <form method="POST" action="">{% csrf_token %}
            <table borrder='0' width='600px'>
                {{ form }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="{% trans "Save" %}"></td>
            </tr>
            </table>
            </form>
        </div>
    {% endif %}
{% endblock %}

