{% load i18n %}


{% if thread.paginator.num_pages > 1 %}
<div class='pages'>[{% trans "Page" %} 
{% if thread.has_previous %}
<a href='{%url forum.views.thread_view thread.previous_page_number startpost.pk %}'>←</a>
{% else %}
←
{% endif %}
{% for page in thread.paginator.page_range %}
    {% if thread.number == page %}
        <b>{{page}}</b>
    {% else %}
        <a href='{%url forum.views.thread_view page startpost.pk %}'>{{page}}</a>
    {% endif %}
{% endfor %}
{% if thread.has_next %}
<a href='{%url forum.views.thread_view thread.next_page_number startpost.pk %}'>→</a>
{% else %}
→
{% endif %}
]</div>
{% endif %}
