{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Forum" %} - {% trans "New forum creation" %}{% endblock %}

{% block action-left %}
    {% trans "New forum creation" %}
{% endblock %}

{% block content %}
    <div class='form'>
        <h3>{% trans "Create forum" %}</h3>
        <form method=post>
        {% csrf_token %}
        <table border='0' width='600px'>
            {{form}}
            <tr>
                <td>&nbsp;</td><td><input type=submit value="{% trans "Add" %}"></td>
            </tr>
        </table>
        </form>
    </div>
{% endblock %}
