{% extends "base.html" %}
{% load i18n %}
{% load markup %}
{% load cache %}

{% block menubox %}
<div class='actionbox'>
    <div class='left'>
    {% cache 2678400 forum_index forum.pk %}
        <a href='{% url forum.views.index %}'>{% trans "Forum list" %}</a> → 
        <a href='{% url forum.views.forum forum.pk %}'>{{ forum.name }}</a> {{ forum.description }}
    </div>
    <div class='right'>
        [<a href='{% url rss_forum_traker forum.pk %}'>RSS</a>|<a href='{% url atom_forum_traker forum.pk %}'>Atom</a>]
    {% endcache %}
        {% if showall == "1" %}
            [<a href='?showall=0'>{% trans "Hide removed" %}</a>]
        {% else %}
            [<a href='?showall=1'>{% trans "Show removed" %}</a>]
        {% endif %}

        {% if user.is_authenticated %}
            [<a href='{% url forum.views.topic_create forum.pk %}'>{% trans "Post new topic" %}</a>]
            [<a href='{% url userauth.views.notify %}'>{% trans "Notifyes" %}</a>|<a href='{% url forum.views.traker %}'>{% trans "Traker" %}</a>]
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}

{% include "forum/pages.inc.html" %}

<table cellspacing='0' cellpadding='2' border='0' class='theader'>
<tr class='theader'><th>{% trans "Title" %}</th><th width='240px'>{% trans "Last post" %}</th></tr>
{% for post in thread.object_list %}
<tr class="{% cycle "odd" "even" %}">
 <td>
{% cache 2678400 forum_item post.pk %}
  {{post.get_flags|safe}}
  {{post.get_forumtags|safe}}
  <a href='{% url forum.views.thread post.pk %}'>{{post.title}}</a>
  [<a href='{% url userauth.views.profile_view post.owner.pk %}'>{{post.owner.profile.get_visible_name}}</a>]
{% endcache %}
 </td>
 <td>{{post.get_last_comment_date|timesince}} {% trans "ago" %}</td>
</tr>
{% endfor %}
</table>

{% include "forum/pages.inc.html" %}
{% endblock %}

