{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr>
<td>
<a href='{% url forum.views.index %}'>{% trans "Forum list" %}</a> → 
<a href='{% url forum.views.forum forum.pk %}'>{{ forum.name }}</a> {{ forum.description }}
</td>

<td align='right'>
    [<a href='{% url rss_forum_traker forum.pk %}'>RSS</a>|<a href='{% url atom_forum_traker forum.pk %}'>Atom</a>]

{% if showall == "1" %}
[<a href='?showall=0'>{% trans "Hide removed" %}</a>]
{% else %}
[<a href='?showall=1'>{% trans "Show removed" %}</a>]
{% endif %}

{% if user.is_authenticated %}
    [<a href='{% url forum.views.topic_create forum.pk %}'>{% trans "Post new topic" %}</a>]
{% endif %}
</td>
</tr>
</table>
{% endblock %}

{% block content %}

{% include "forum/pages.inc.html" %}

<table cellspacing='0' cellpadding='2' border='0' class='theader'>
<tr class='theader'><th>{% trans "Title" %}</th><th width='240px'>{% trans "Last post" %}</th></tr>
{% for post in thread.object_list %}
<tr class="{% cycle "odd" "even" %}">
 <td>
  {% if post.removed %}
    [<span style='color: red'>x</span>]
  {% endif %}
  {{post|forumtags|safe}} 
  [<a href='{% url userauth.views.profile_view post.owner.pk %}'>{{post.owner.profile.get_visible_name}}</a>]
 </td>
 <td>{{post.created|timesince}} {% trans "ago" %}</td>
</tr>
{% endfor %}
</table>

{% include "forum/pages.inc.html" %}
{% endblock %}

