{% extends "base.html" %}
{% load i18n %}

{% block action-left %}
    {% trans "Forum list" %}
{% endblock %}

{% block action-right %}
    [<a href='{% url forum.views.forum_create %}'>mkdir</a>]
{% endblock %}

{% block content %}
    <table cellspacing='0' cellpadding='2' border='0'>
        <thead>
            <tr>
                <th width='260px'>{% trans "Forum name" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
        <tr class="{% cycle "normal" "dark" %}">
            <td><a href="{% url forum.views.forum forum.id %}">{{forum.name}}</a></td>
            <td>{{forum.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
