{% extends "base.html" %}
{% load i18n %}

{% block menubox %}
<div class='actionbox'>
<table cellspacing='0' cellpadding='2' border='0' width='100%'>
<tr>
<td>
{% trans "Forum list" %}
</td>

<td align='right'>
{% if user.is_authenticated %}
    {% if user.profile.can_create_forum %}
    [<a href='{% url forum.views.forum_create %}'>{% trans "Create forum" %}</a>]
    {% endif %}
{% endif %}
</td>
</tr>
</table>
{% endblock %}

{% block content %}

<table cellspacing='0' cellpadding='2' border='0' class='theader'>
<tr class='theader'><th width='220px'>{% trans "Forum name" %}</th><th>{% trans "Description" %}</th></tr>
{% for forum in forums %}
<tr class="{% cycle "noraml" "dark" %}">
    <td width='210px'><a href="{% url forum.views.forum forum.id %}">{{forum.name}}</a></td>
    <td>{{forum.description}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
