{% extends "base.html" %}
{% load i18n %}

{% block menubox %}
<div class='actionbox'>
    <div class='left'>
        {% trans "Forum list" %}
    </div>
    <div class='right'>
        {% if user.is_authenticated %}
            [<a href='{% url forum.views.forum_create %}'>{% trans "Create forum" %}</a>]
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}

<table cellspacing='0' cellpadding='2' border='0' class='theader'>
<tr class='theader'><th width='220px'>{% trans "Forum name" %}</th><th>{% trans "Description" %}</th></tr>
{% for forum in forums %}
<tr class="{% cycle "noraml" "dark" %}">
    <td width='210px'><a href="{% url forum.views.forum forum.id %}">{{forum.name}}</a></td>
    <td>{{forum.description}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
