{% load i18n %}


{% if thread.paginator.num_pages > 1 %}
<div class='pages'>

{% if thread.paginator.show_first %}
<a href='?offset=1'>{% trans "First page" %}</a>
{% endif %}

[{% trans "Page" %}

{% if thread.has_previous %}
<a href='?offset={{ thread.previous_page_number }}'>←</a>
{% else %}
←
{% endif %}
{% for page in thread.paginator.page_range %}
    {% if thread.number == page %}
        <b>{{page}}</b>
    {% else %}
        <a href='?offset={{ page }}'>{{page}}</a>
    {% endif %}
{% endfor %}
{% if thread.has_next %}
<a href='?offset={{ thread.next_page_number }}'>→</a>
{% else %}
→
{% endif %}
]

{% if thread.paginator.show_last %}
<a href='?offset={{ thread.paginator.num_pages }}'>{% trans "Last page" %}</a>
{% endif %}

</div>
{% endif %}
