{% load i18n %}

{% if thread.paginator.num_pages > 1 %}
<div class='pages'>

[{% trans "Page" %}

<a href='?{% if showall = "1" %}showall=1&{% endif %}offset=1'>{% trans "first" %}</a>

{% if thread.has_previous %}
<a href='?{% if showall = "1" %}showall=1&{% endif %}offset={{ thread.previous_page_number }}'>←</a>
{% else %}
←
{% endif %}
{% for page in thread.paginator.page_range %}
    {% if thread.number == page %}
        <b>{{page}}</b>
    {% else %}
        <a href='?{% if showall = "1" %}showall=1&{% endif %}offset={{ page }}'>{{page}}</a>
    {% endif %}
{% endfor %}
{% if thread.has_next %}
<a href='?{% if showall = "1" %}
showall=1&
{% endif %}
offset={{ thread.next_page_number }}'>→</a>
{% else %}
→
{% endif %}
<a href='?{% if showall = "1" %}
showall=1&
{% endif %}
offset={{ thread.paginator.num_pages }}'>{% trans "last" %}</a>
]

</div>
{% endif %}
