{% load i18n %}


{% if thread.paginator.num_pages > 1 %}
<div class='pages'>[{% trans "Page" %} 
{% if thread.has_previous %}
<a href='?offset={{ thread.previous_page_number }}'>←</a>
{% else %}
←
{% endif %}
{% for page in thread.paginator.page_range %}
    {% if thread.number == page %}
        <b>{{page}}</b>
    {% else %}
        <a href='?offset={{ page }}'>{{page}}</a>
    {% endif %}
{% endfor %}
{% if thread.has_next %}
<a href='?offset={{ thread.next_page_number }}'>→</a>
{% else %}
→
{% endif %}
]</div>
{% endif %}
