{% extends "forum/post.base.html" %}

{% load i18n %}
{% load markup %}

{% block header %}
    <a href="#">#</a>
{% endblock %}

{% block vote %}
    <span>0</span>
    <span class="vote-positive"><a href='#'>&#43;</a></span>&#47;<span class="vote-negative"><a href='#'>&ndash;</a></span>
{% endblock %}

{% block text%}
    {{post.text|strip_cut|markup:post.parser|safe}}
{% endblock %}
            
{% block user %}
    <a href='{% url userauth.views.profile_view user.pk %}'>{{ user.profile.get_html_visible_name|safe }}</a>
{% endblock %}

{% block controls %}
{% endblock %}
