{% load i18n %}
{% load markup %}

<div class="post" id="post_{{post.pk}}">
<table border='0px' width='100%' colspan='0' rowspan='0'>
<tr><td>
[<a href='
{% if startpost %}
{% url forum.views.thread startpost.pk %}#post_{{ post.pk }}
{% endif %}
'>#</a>]
{% if post.reply_to %}
{% if post.reply_to != startpost %}
{% trans "Reply to" %}
    <a href="
    {% if post.reply_to in thread.object_list %}
        #post_{{post.reply_to.pk}}
    {% else %}
        ?offset={{ post.reply_to|pg:thread.paginator }}#post_{{post.reply_to.pk}}
    {% endif %}
" onclick="highlightMessage({{ post.reply_to.pk }});">{% trans "comment" %}</a> {% trans "by" %} {{post.reply_to.owner.profile.get_visible_name}} {{post.reply_to.created|date:"d.m.Y H:i:s"}}
{% endif %}
{% endif %}
</td><td width='50px' align='right'>

<span id='rating-{{ post.pk }}'>{{ post.rating }}</span><span class='plus'><a href='' class='vote-positive' id='{{ post.pk }}' >+</a></span>/<span class='minus'><a class='vote-negative' id='{{ post.pk }}' href=''>-</a></span>

</td></tr>
<tr><td colspan='2'>
<b>{{post.title}}</b>
{{post.text|markup:post.parser|safe}}
<small>
{% if startpost %}
<span class='plus'>
<a href='{% url userauth.views.profile_view post.owner.pk %}'>{{post.owner.profile.get_visible_name}}
</a></span> @ {{post.created|date:"d.m.Y H:i:s"}} 


{% else %}
<span class='plus'><a href=''>{{user.profile.get_visible_name}}
</a></span> @ {%now "d.m.Y H:i:s"%}
{% endif %}
</small>
{% if startpost %}
{% if user.profile.can_create_comment %}
<br><a href="{% url forum.views.reply post.pk %}">[{% trans "Reply on this message" %}]</a>
{% endif %}
{% endif %}

</td></tr>
</table>
</div>

