{% load i18n %}
{% load markup %}

<div class="post" id="post_{{post.pk}}">

<table border='0px'>
<tr><td>
{% if post.blog_post %}
[<a href='{% url blog.views.post_view post.blog_post.pk %}#post_{{ post.pk }}'>#</a>]
{% else %}
[<a href='{% url forum.views.thread startpost.forum.pk %}#post_{{ post.pk }}'>#</a>]
{% endif %}
{% if post.reply_to %}
{% trans "Reply to:" %}
{% if post.reply_to = startpost %}
{% trans "Start post" %}
{% else %}
    <a href="
    {% if post.reply_to in thread.object_list %}
        #post_{{post.reply_to.pk}}
    {% else %}
        {% url blog.views.post_view post.reply_to|pg:thread.paginator post.blog_post.pk %}#post_{{post.reply_to.pk}}
    {% endif %}
" onclick="highlightMessage({{ post.reply_to.pk }});">{% trans "comment" %}</a> {% trans "by" %} {{post.reply_to.owner.profile.get_visible_name}} {{post.reply_to.created|date:"d.m.Y H:i:s"}}
{% endif %}
{% endif %}
</td></tr>
<tr><td>
<b>{{post.title}}</b>
{{post.text|markup:post.parser|safe}}
<small><span class='plus'><a href='{% url userauth.views.profile_view post.owner.pk %}'>{{post.owner.profile.get_visible_name}}</a></span> @ {{post.created|date:"d.m.Y H:i:s"}}</small>
{% if user.profile.can_create_comment %}
<br><a href="{% url forum.views.reply post.pk %}">[{% trans "Reply on this message" %}]</a>
{% endif %}
</td></tr>
</table>
</div>

