{% load i18n %}
{% load markup %}
<div class="post" id="post_{{post.pk}}">
    <div class="text">
        <div class="header">
            <div class="title">
                <span class="header">
                {% block header %}
                {% endblock %}
                </span>
            </div>
            <div class="vote">
                {% block vote %}
                <span id='message-{{ post.pk }}'>
                    <span id='rating-{{ post.pk }}'>{{ post.get_rating }}</span>
                    <span class="vote-positive">
                         <a class='vote-positive' 
                            href='{% url blog.views.vote_generic post.pk 1 %}' 
                            id='positive-{{ post.pk }}'>&#43;</a></span>&#47;<span
                            class="vote-negative"><a class='vote-negative' 
                            id='negative-{{ post.pk }}' 
                            href='{% url blog.views.vote_generic post.pk 0 %}'>&ndash;</a>
                    </span>
                </span>
                {% endblock %}
            </div>
        </div>
            <p><b>{% block title %}{{ post.title }}{% endblock %}</b></p>
            {% block text %}
                {{post.text|safe}}
            {% endblock %}
        <div class="block info">
            <span class='user'>
                {% block user %}
                {% endblock %}
            </span>
            @ 
            {% block date %}
               {{post.created|date:"d.m.Y H:i:s"}}
            {% endblock %}
        </div>
        <div class="block">
        {% block controls %}
            {% if user.is_staff %} 
                [<a href="{% url forum.views.scourge post.pk %}?offset={{ thread.number }}">{% trans "Scourge" %}</a>]
            {% endif %}
            {% if post.thread.closed %}
                [{% trans "This topic is closed" %}]
            {% else %}
                [<a href="{% url forum.views.reply post.pk %}">{% trans "Reply on this message" %}</a>]
            {% endif %}
        {% endblock %}
        </div>
    </div>
</div>
