{% extends "base.html" %}
{% load i18n %}

{% block menubox %}
<div class='actionbox'>
    <div class='left'>
        {% trans "Adding a reply"%}
    </div>
</div>
{% endblock %}

{% block content %}

{% include 'forum/post.inc.html' %}

{% if form.cleaned_data %}
{% trans "Your message"%}
    {% with form.cleaned_data as post %}
        {% include 'forum/post.inc.html' %}
    {% endwith %}
{% endif %}

<div class='form'>
<form method=post>
{% csrf_token %}
<table border='0' width='800px'>
{{form}}
<tr><td>&nbsp;</td><td><input type="submit" name="submit" value="{% trans "Preview" %}"></td></tr>
{% if form.cleaned_data %}
<tr><td>&nbsp;</td><td><input type="submit" name="submit" value="{% trans "Reply" %}"></td></tr>
{% endif %}
</table>
</form>
</div>
{% endblock %}
