{% load i18n %}

<div class='news'>
    <h3>
        <a href='{{ section_url }}'>{{ section_name }}</a> → <a href='{{ startpost_url }}'>{{ startpost_title }}</a>
    </h3>

    <table cellspacing='0' cellpadding='2' border='0' width='100%'>
        <tr>
            <td width='40px'>&nbsp;</td>
            <td>
                <div class='content'>
                    {{ startpost_text|safe }}
                    {% if startpost_tags %}
                    <div class='tags'>
                        <p>{% trans "Tags" %}: {{ startpost_tags|safe }}</p>
                    </div>
                    {% endif %}
                    {% if startpost.owner %}
                    <p>
                        [<a href='{% url blog.views.vote_generic startpost.pk 0 %}' class='vote-positive' id='positive-{{ startpost.pk }}' >▲</a>]
                        <span id='rating-{{ startpost.pk }}'>{{ startpost.rating }}</span>
                        [<a class='vote-negative' id='negative-{{ startpost.pk }}' href='{% url blog.views.vote_generic startpost.pk 1 %}'>▼</a>]
                        | {% trans "Author" %}:
                            <a class='plus' href='{% url userauth.views.profile_view startpost.owner.id %}'>
                            
                            {% if  startpost.owner.profile.is_buryed %}
                            <del>{{ startpost.owner.profile.get_visible_name }}</del>
                            {% else %}
                            {{ startpost.owner.profile.get_visible_name }}
                            {% endif %}
                            </a>
                            ( {{ startpost.created|date:"d.m.Y H:i" }} )

                        {% if comments_url %}
                        | <a class='comment_info' href='{{ comments_url }}'>{% trans "Comments" %}: {{ startpost.get_comments_count }}</a>
                        {% endif %}

                        {% if edit %}
                        <div class='editby'>
                            {% trans "Last edited by" %}
                            <a class='plus' href='{% url userauth.views.profile_view edit.user.pk %}'>{{ edit.user.profile.get_visible_name }}</a>
                            {{ edit.edited|date:"d.m.Y H:i" }} (
                            <a class='plus' href='{% url forum.views.post_diff edit.pk %}'>{% trans "Total edits" %}: {{ startpost.postedit_set.all.count }}</a>
                            )
                        </div>
                        {% endif %}

                    </p>
                    {% endif %}
                </div>
            </td>
            <td width='40px'>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                {% if user.is_superuser and startpost.pk %} 
                    [<a href="{% url forum.views.remove startpost.pk %}">{% trans "Remove" %}</a>]
                {% endif %}
                {% if edit_url %}
                    [<a href="{{ edit_url }}">{% trans "Edit" %}</a>]
                {% endif %}
                {% if add_comment_url %}
                    [<a href="{{ add_comment_url }}">{% trans "Add a comment" %}</a>]
                {% endif %}
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div>

