{% load i18n %}
{% load markup %}

<div class='news'>
    <h3>
        {{ startpost.get_forumtags|safe }}
        <a href='{{ startpost.get_absolute_url }}'>{{ startpost.title }}</a>
    </h3>
    <div class='block'>
        <div class='text'>
            {{ startpost.get_text|safe }}
        </div>
        {% if startpost.blog %}
        <div class='tags'>
            {% trans "Tags" %}:
            {{ startpost.get_tag_url_list|safe }}
        </div>
        {% endif %}
        <div>
            [<span class='vote-positive'><a class='vote-positive' 
                   href='{% url blog.views.vote_generic startpost.pk 0 %}' 
                   id='positive-{{ startpost.pk }}'>▲</a></span>]
            <span id='rating-{{ startpost.pk }}'>
                {{ startpost.get_rating }}
            </span>
            [<span class='vote-negative'><a class='vote-negative' 
                   href='{% url blog.views.vote_generic startpost.pk 1 %}'
                   id='negative-{{ startpost.pk }}'>▼</a></span>]
            | {% trans "Author" %}:
            <span class='user'>
                <a href='{% url userauth.views.profile_view startpost.owner.pk %}'>
                    {{ startpost.owner.profile.get_html_visible_name|safe }}
                </a>
            </span>
            ( 
                {{ startpost.created|date:"d.m.Y H:i" }}
            )
        </div>

        {{ startpost.get_edits }}

        <div class='controls'>
            {% if startpost.removed %}
                [<a href="{% url userauth.views.rewards startpost.owner.pk %}">{% trans "This post was removed" %}</a>]
            {% else %}
                {% if user.is_staff %} 
                    [<a href="{% url forum.views.remove startpost.pk %}">{% trans "Remove" %}</a>]
                {% endif %}
                {% if user = startpost.owner or user.is_staff %}
                    [<a href="{{ startpost.get_edit_url }}">{% trans "Edit" %}</a>]
                    {% if startpost.forum %}
                        {% if startpost.solved %}
                            [<a href="{% url forum.views.post_solve startpost.pk %}">{% trans "Mark as unsolved" %}</a>]
                        {% else %}
                            [<a href="{% url forum.views.post_solve startpost.pk %}">{% trans "Mark as solved" %}</a>]
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if startpost.closed %}
                    [<a href="{{ startpost.get_section_url }}">{% trans "This topic is closed" %}</a>]
                {% else %}
                        [<a href="{% url forum.views.reply startpost.pk %}">{% trans "Add a comment" %}</a>]
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
