{% extends "forum/startpost.base.html" %}

{% load i18n %}
{% load markup %}

{% block header %}
    <a href='#'>{{ startpost.title }}</a>
{% endblock %}

{% block text %}
    {{ startpost.text|markup:startpost.parser|show_cut|safe }}
{% endblock %}

{% block tags %}
    <div class='tags'>
        {% trans "Tags" %}:
        {{ startpost.tag_string|tags|safe }}
    </div>
{% endblock %}

{% block vote %}
    [<span class='vote-positive'><a href='#'>▲</a></span>]
    <span>0</span>
    [<span class='vote-negative'><a href='#'>▼</a></span>]
{% endblock %}

{% block author %}
<a href='{% url userauth.views.profile_view user.pk %}'>{{ user.profile.get_visible_name|safe }}</a>
{% endblock %}

{% block date %}
    {%now "d.m.Y H:i:s"%}
{% endblock %}

{% block controls %}
{% endblock %}

